@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,700|Cabin+Sketch:700|Emilys+Candy');

* {
	margin: 0;
	padding: 0;
	font-weight: 200;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
body {
	font-family: 'Raleway', sans-serif;
	color: #000;
	overflow-y: auto;
	overflow-x: hidden;
	background-color:#ede7e7;
}
 h1, h2, h3 {
	color: #272121;
}
a {
    text-decoration: none;
    padding: 20px;
    color: #000;  
  }
  ul {
  	list-style-type: none;
  }
 /*-- NAV--- */
 .bg__main {
	height: 100vh;
	background-image: url(../img/aga3-min.png);
	background-position: 100%;
	background-repeat: no-repeat;       
    background-attachment: fixed;  
    background-size: contain;
  }
 .nav {
 	min-height: 20vh;
 }
 .nav__title {
		font-size: 6vmin;
	}
.nav__title--vertical-line {
	color: #FF0000;
}
.point {
	font-family: 'Emilys Candy', cursive;
	color:#FF0000;
	font-weight: 700;
}
.menu__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
} 
.menu__list--link {
	font-size: 4.5vmin;
	padding: 1em;
	text-transform: uppercase;
	position: relative;
}
.menu__list--link:after {
	position: absolute;
    left: 50%;
	content: '';
	height: 2px;
    background: black;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 0;
    bottom: 0; 
}
.menu__list--link:hover:after {
	width: 30px;
    margin-left: -15px;
}
/* -MAIN PAGE TEXT --*/
 .main-content__heading  {
	font-size: 6vmin;
}
/* --   ABOUT --*/
.about {
	background-color: #f2eeee;
	padding: 3em 0;
}
.about__title    {
	font-weight: 300;
	font-size: 6vmin;
}
.about__text {
	margin-top: 2em;
	font-weight: 300;
	font-size: 1.3em;
	color: black;
	position: relative;
}
.open-quote {
	position: relative;
	padding-left: 60px;
}
.open-quote:before {
    content: " ";
	background-image: url(../img/quote3.png);
	background-repeat: no-repeat;
	background-size: contain;
	 position: absolute;
	 opacity: 0.7;
    left: -5px;
    top: -20px;
    width: 57px;
    height: 41px;
}
.closing-quote {
	position: relative;
}
.closing-quote:after {
    content: " ";
	background-image: url(../img/quote.png);
	background-repeat: no-repeat;
	 position: absolute;
	 opacity: 0.5;
    right: -60px;
    bottom: -20px;
    width: 77px;
    height: 51px;
}
.about__text--link {
	padding: 0;
	border-bottom: 1px dotted black;
}
.about__text--link:hover {
	border-bottom: 1px solid black;
}
.about__exp--title {
		margin-top: 2em;
		font-size: 7vmin;
		padding-bottom: 0.5em;
}
.about__exp--list {
		font-size: 1.1em;
	}
/* --- GALLERY ---*/
.work {
	min-height: 15em;
	position: relative;
	overflow: hidden;
}
.work__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
	-o-object-fit: cover;	
	   object-fit: cover;
	-o-transition: all, 0.5s;
	-webkit-transition: all, 0.5s;
	transition: all, 0.5s;
}
.work__overlay {
	background: rgba(255, 0, 0, 0.9);
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-o-transition: opacity, 0.3s;
	-webkit-transition: opacity, 0.3s;
	transition: opacity, 0.3s;
}
.work__overlay--caption {
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.work__iconbox {
	color: #fff;
	margin: 0;
	opacity: 0;
	-o-transition: all, 0.5s;
	-webkit-transition: all, 0.5s;
	transition: all, 0.5s;
	-ms-transform: translate3d(0, 200%, 0);
	-webkit-transform: translate3d(0, 200%, 0);
	transform: translate3d(0, 200%, 0);
}
.work__link:hover .work__img {
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.work__link:hover .work__overlay {
	opacity: 1;
}
.work__link:hover .work__iconbox {
	opacity: 1;
	-ms-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
/*--- CONTACT ---*/
.footer {
	background-color: #f6f3f3;
	padding: 4em 0;
	font-weight: 300;
}
.contact__info  {
	padding-left: 2em;
}
.contact__info--heading {
	font-size: 1.5em;
}
.contact__info--text {
	font-size: 1em;
	line-height: 1.5;
}
.contact__info--mail {
	padding: 0;
}
.contact__info--mail:hover {
	border-bottom: 1px solid black;
}
.social {
	font-size: 1.5em;
}
.social__link {
	padding: 0 0.8em;
}
.social__icon {
	color: #2d3033;
	font-size: 1em;
}
.copyright {
	font-size: 1em;
	margin-top: 1em;
	font-size: 1em;
}
/* hover icon-Bob */
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
/*--- SCROLL TOP ---*/
.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:10px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	color: #fff;
	background:#b2b2b2;
	background: rgba(255, 0, 0, 0.6);
	padding:20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover {
	color: #2d3033;
	background:rgba(178,178,178,1.0);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	font-size:30px;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}

